@model ProyectoRRHH.Models.empleado

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear</h1>

<h4>Empleado</h4>

<div asp-validation-summary="All" class="text-danger"></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
                <label class="control-label">Cédula</label>
                <select asp-for="cedula" id="cedulaDropDownList" class="form-control" asp-items="ViewBag.cedula"></select>
           </div>
@*            <div class="form-group">
                <label class="control-label">Cédula</label>
                <select asp-for="cedula" class="form-control" asp-items="ViewBag.cedula"></select>
            </div>*@

            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de ingreso</label>
                <input asp-for="fechaingreso" class="form-control" type="date" />
                <span asp-validation-for="fechaingreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Departamento</label>
                <select asp-for="departamento" class="form-control" asp-items="ViewBag.departamento"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Puesto</label>
                <select asp-for="puesto" class="form-control" asp-items="ViewBag.puesto"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Salario mensual</label>
                <input asp-for="salariomensual" class="form-control" />
                <span asp-validation-for="salariomensual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado</label>
                <select asp-for="estado" class="form-control">
                    <option value="">-Selecciona-</option>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#cedulaDropDownList").select2({
            theme: "bootstrap"
        })
    </script>
}